<!DOCTYPE html>
<html lang="it"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Aggiorna Profilo</title>
</head>
<body>
	<h1 align="center">Aggiorna Profilo</h1>
	<form id="updateF" th:action="@{/user/profile/update}" method="post">
	<table>
	<tr>
		<td>User Name</td>
		<td><input type="text" th:placeholder="${credentials.username}" 
				th:field="${credentialForm.username}" /></td>
		<td th:if="${#fields.hasErrors('credentialForm.username')}"
			th:errors="${credentialForm.username}"
			th:style="'color:red'"></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="text" th:placeholder="${credentials.password}" 
				th:field="${credentialForm.password}" /></td>
		<td th:if="${#fields.hasErrors('credentialForm.password')}"
			th:errors="${credentialForm.password}"
			th:style="'color:red'"></td>
	</tr>
	<tr>
		<td>Nome</td>
		<td><input type="text" th:placeholder="${loggedUser.firstName}" 
				th:field="${userForm.firstName}" /></td>
		<td th:if="${#fields.hasErrors('userForm.firstName')}"
			th:errors="${userForm.firstName}"
			th:style="'color:red'"></td>
	</tr>
	<tr>
		<td>Cognome</td>
		<td><input type="text" th:placeholder="${loggedUser.lastName}" 
				th:field="${userForm.lastName}" /></td>
		<td th:if="${#fields.hasErrors('userForm.lastName')}"
			th:errors="${userForm.lastName}"
			th:style="'color:red'"></td>
	</tr>
	<tr>
		<td><input type="submit" value="Aggiorna" /></td>
	</tr>
	</table>
	</form>
</body>
</html>